/* General Styles */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

section {
    padding: 20px;
    line-height: 1.6;
    max-width: 900px;
    min-height: 100px;
}

html {
    scroll-behavior: smooth;
}

a:link {
    color: black;
    background-color: transparent;
    text-decoration: underline;
}

a:hover {
    color: #FFCC00;
    cursor: cell;
}

a:visited {
    text-decoration: none;
}

.dot {
    color: #FFCC00;
}

body {
    display: flex;
    justify-content: center;
    font-family: "Barlow", serif;
    font-size: 14px;
    background-color: #f7f7f7;
    text-align: justify;
}

h1 { 
    font-family: "Instrument Sans", sans-serif;
    font-size: 36px;
    font-weight: bold;
    text-align: center;
}

h2 { 
    font-family: "Instrument Sans", sans-serif;
    font-size: 20px;
    font-weight: bold;
    margin-bottom: 10px;
    margin-top: 0;
    text-align: center;
}

h3 {
    font-family: "Instrument Sans", sans-serif;
    font-weight: bold;
    font-size: 16px;
}

p { 
    margin-bottom: 20px;
}

.p-center {
    text-align: center;
}

.cookie-policy {
    border: 2px solid #FFCC00;
    padding: 30px;
}

.cookie-policy #p-contact {
    margin-bottom: 0;
}