/* General Styles */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

img,
picture {
    width: 100%;
}

section {
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    min-height: 100vh;
    padding: 40px 20px;
    scroll-margin-top: 60px;
    line-height: 1.6;
}

html {
    scroll-behavior: smooth;
}

a:visited {
    color: black;
    background-color: transparent;
    text-decoration: none;
}

a:link {
    color: black;
    background-color: transparent;
    text-decoration: none;
}

a:hover {
    color: #F9CF04;
    cursor: cell;
}

.dot {
    color: #F9CF04;
}

body {
    font-family: "Instrument Sans", sans-serif;
    font-size: 16px;
}

h1 { 
    text-align: center;
    font-family: "Poppins", serif;
    font-size: 40px;
    font-weight: bold;
    margin-top: 20px;
    margin-bottom: 20px;
    line-height: 1.3;
}

h2 { 
    font-family: "Poppins", serif;
    font-size: 48px;
    font-weight: bold;
    margin-bottom: 10px;
    margin-top: 0;
    line-height: 1.3;
}

h3 {
    text-align: center;
    font-family: "DM Serif Display", serif;
    font-size:36px;
    margin-top: 20px;
    margin-bottom: 15px;
}

p { 
    margin-bottom: 15px;
}

header {
    background-color: #ffffff;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    position: sticky;
    top: 0;
    z-index: 999;
    
}

/* Navbar */
.navbar {
    display: flex;
    align-items: center;
    justify-content:space-evenly;
    color: black;
}

.logo {
    max-width: 45px;
    width: auto;
    margin: 10px 0;
}

.menu {
    /* Hidden on mobile */
    display: none;
}

.menu a {
    color:black;
    text-decoration: none;
    margin-left: 10px;
    margin-right: 10px;
}

.menu a:hover {
    color:#F9CF04;
}

.burger-menu {
    font-size: 2rem;
    cursor: cell;
    position: relative;
    top: -4px;
    /* Display on mobile */
    display: block;
}

#mobile-menu {
    background-color: white;
    border: 2px solid #F9CF04;
    border-radius: 5%;
    padding: 10px;
    transform: translateY(5px);
    top: 0;
    right:0;
    position: absolute;
    top: 65px;
    width: 30%;
    z-index:1;
    display: none;
    text-align: center;
}

#mobile-menu a {
    display: block;
    color: black;
    padding: 10px;
    font-weight: bold;
}

#mobile-menu a:hover {
    color: #F9CF04;
}

.flag {
    width: 30px;
}

.flag:hover {
    transform: scale(1.25);
}

.social-links {
    display: flex;
    flex-direction: row;
    gap: 15px;
}

.social-links img {
    height: 15px;
    transition: transform 0.3s;
}

.social-links img:hover {
    transform: scale(1.25);
}

/*Shop section*/
#shop {
    flex-direction: column;
    min-height: 90vh;
}

.shop-text h2 {
    justify-items: center;
}

.shop-text p {
    max-width: 700px;
    margin-left: 30px;
    margin-right: 30px;
    text-align: center;
}

#pele,#cabelo,#cuidadospessoais,#nutricao,#casacozinha,#livrosdiarios {
    display: none;
}

.product-grid {
    display: grid;
    grid-template-columns: auto auto auto;
    gap: 10px;
    max-width: 900px;
    margin: 40px auto;
    padding: 20px;
}

/*Pele section*/
#pele img{
    width: 110px;
    justify-items: center;
}

#pele img:hover{
    transform: scale(1.15);
}

.product-button {
    vertical-align: baseline;
}

/*Cabelo section*/
#cabelo img{
    width: 110px;
    justify-items: center;
}

#cabelo img:hover{
    transform: scale(1.15);
}

.product-button {
    vertical-align: baseline;
}

/*Cuidados Pessoais section*/
#cuidadospessoais img{
    width: 110px;
    justify-items: center;
}

#cuidadospessoais img:hover{
    transform: scale(1.15);
}

.product-button {
    vertical-align: baseline;
}

/*Nutricao section*/
#nutricao img{
    width: 110px;
    justify-items: center;
}

#nutricao img:hover{
    transform: scale(1.15);
}

.product-button {
    vertical-align: baseline;
}

/*Casa & Cozinha section*/
#casacozinha img{
    width: 110px;
    justify-items: center;
}

#casacozinha img:hover{
    transform: scale(1.15);
}

.product-button {
    vertical-align: baseline;
}

/*Livros & Diários section*/
#livrosdiarios img{
    width: 110px;
    justify-items: center;
}

#livrosdiarios img:hover{
    transform: scale(1.15);
}

.product-button {
    vertical-align: baseline;
}

/* Footer */
footer {
    background-color: #F9CF04;
    color: #000000;
    padding: 10px;
    font-size: small;
    align-items: center;
    text-align: center;
}

footer p {
    margin-bottom: 0;
}

/* Cookie banner */
.cookie-banner {
    position: fixed;
    bottom: 0;
    background-color: #333;
    color: white;
    width: 100%;
    padding: 10px;
    display: flex; 
    justify-content: center;
    align-items: center;
    z-index: 9999;
}

.cookie-banner p {
    margin: 10px 10px;
    font-size: 16px;
    text-align: justify;
}

.cookie-popup #saiba-mais {
    color: white;
    text-decoration: underline;
}

.cookie-banner p {
    margin: 10px 10px;
    font-size: 16px;
    text-align: justify;
}

.cookie-banner #saiba-mais {
    color: white;
    text-decoration: underline;
}

.cookie-banner #saiba-mais:hover {
    color: #F9CF04;
}

.cookie-banner button {
    text-wrap: nowrap;
    padding: 10px 10px;
    border: none;
    cursor: pointer;
    font-size: 14px;
    border-radius: 5px;
}

.buttons {
    display: flex;
    flex-wrap: wrap;
    gap: 10px;
    margin: 0 10px;
}

#accept-all {
    padding: 10px 10px;
    background-color: #F9CF04;
    color: black;
}

#accept-all:hover {
    color: white;
}

#customise {
    background-color: transparent;
    color: white;
    border: 1px solid #ccc;
    padding: 10px 15px;
}

#customise:hover {
    color: #FFCC00;
}

#preference-modal {
    position:fixed;
    top: 0;
    left: 5%;
    transform: translateY(250px);
    width: 90%;
    height: 50vh;
    background-color: white;
    border: 2px solid #F9CF04;
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items:center;
    padding: 20px;
    z-index: 10000; /* Ensure modal is on top */
    display: none;
    font-size: 16px;
}

#preference-modal h2 {
    margin-bottom: 30px;
    font-size: 18px;
}

#preference-modal ul {
    list-style: none;
    padding: 0;
    margin: 0;
}

#preference-modal li {
    margin-bottom: 10px;
}

#preference-modal input[type="checkbox"] {
    margin-right: 10px;
    cursor: pointer;
}

#preference-modal input{
    float: right;
    margin-top: 5px;
    margin-left: 20px;
}

#preference-modal label span {
    font-style: italic;
    color: #aaa;
}

#preference-modal a {
    color: black;
    font-size: 14px;
    text-decoration: underline;
}

#preference-modal a:hover {
    color: #F9CF04;
    cursor: pointer;
}

#save-preferences {
    text-wrap: nowrap;
    padding: 10px 10px;
    border: none;
    cursor: pointer;
    font-size: 14px;
    border-radius: 5px;
    background-color: transparent;
    color: black;
    border: 1px solid #F9CF04;
    margin-right: 5px;
}

#save-preferences:hover {
    color: white;
}

#preference-accept-all {
    text-wrap: nowrap;
    padding: 10px 30px;
    border: none;
    cursor: pointer;
    font-size: 14px;
    border-radius: 5px;
    background-color: #F9CF04;
    color: black;
    border: 1px solid #F9CF04;
}

#preference-accept-all:hover {
    color: white;
}

  /* Responsive style - desktop */
@media (min-width: 768px) {
    .logo {
    max-width: 70px;
    }

    .menu {
    display: block;
    }

    .language {
    display: flex;
    }

    .burger-menu {
    /* Hidden on tablet and desktop */
    display: none;
    }

    .social-links {
    /* Horizontal layout on larger screens */
    flex-direction: row;
    align-items: center;
    }

    .buttons {
    display: flex;
    flex-wrap: nowrap;
    }

    h1 {
    font-size: 50px;
    }

    #preference-modal {
    width: 40%;
    left:30%;
    }

    #skincare,#haircare img{
        width: 150px;
    }

    .product-grid {
        display: grid;
        grid-template-columns: auto auto auto;
        gap: 20px;
        max-width: 900px;
        margin: 50px auto;
        padding: 20px;
    }
}